:root {
  --main-green-color : rgba(102, 187, 106, 1);
  --hover-color      : rgb(62, 158, 212);
  --title-font       : 'Tinos', serif;
  --sub-font         : 'Open Sans', sans-serif;
}

body {
  display        : flex;
  position       : relative;
  min-height     : 100vh;
  flex-direction : column;
  margin: 0;
}

a:active,
a:hover,
a:link,
a:visited {
  text-decoration : none;
}

.Logo {
  width: 100%;
  margin: 0 0 0 0;
  text-align: center;
  background-color:rgba(241, 241, 241, 0.6);
}

.Logo span {
  color : var(--main-green-color);
}

footer {
  position         : fixed;
  bottom           : 0;
  left             : 0;
  width            : 100%;
  height           : 8vh;
  background-color : rgb(228, 228, 228);
  text-align       : center;
  line-height      : .3em;
}

#root {
  height : 85vh;
}

nav > p {
  visibility: hidden;
  text-align: center;
}
.Search {
  display         : flex;
  width           : 100%;
  justify-content : center;
  flex-wrap: wrap;
}

.Search h2 {
  margin-top    : 0;
  margin-bottom : 0px;
  padding-right : 10px;
  align-self    : flex-end;
  font-family   : var(--title-font);
  font-size     : 2.5em;
}

.Search button {
  height           : 40px;
  color            : white;
  border           : none;
  background-color : var(--main-green-color);
  text-transform   : capitalize;
}

.SearchBar {
  width      : 30vw;
  height     : 40px;
  margin-top : 1.5em;
  padding    : 1em;
}


.StockBoxContainer {
  display               : grid;
  justify-content       : center;
  grid-auto-rows        : 85vh;
  grid-column-gap       : 1.5em;
  grid-template-columns : auto auto;
}

.StockBox {
  display       : column;
  position      : relative;
  width         : 40vw;
  min-height    : 82vh;
  margin        : 10px 10px 25px 10px;
  padding-right : .4em;
  box-shadow    : 4px 4px 6px 2px rgba(0, 0, 0, 0.4);
  text-align    : center;
  font-family   : var(--title-font);
  font-size     : 14px;
}

.StockBox h2 {
  width : 100%;
}

.StockBox:hover {
  border : 2px solid var(--hover-color);
}

.Ticker {
  font-size   : 2em;
  font-weight : bolder;
}

.Ticker span {
  color : var(--main-green-color);
}

.close {
  position          : absolute;
  top               : 1em;
  right             : 1em;
  width             : 1em;
  height            : 1em;
  border            : none;
  background-image  : url(../imgs/close.png);
  background-color  : none;
  background-repeat : no-repeat;
  background-size   : cover;
}

.close:hover {
  cursor : pointer;
}

.Chart {
  height        : 25vh;
  margin-bottom : .5em;
}

.HeadlineBox {
  padding : 0.5em;
}

.Headlines {
  display         : flex;
  height          : 100%;
  margin-bottom   : 1.5em;
  padding-right   : 1.5em;
  color           : var(--hover-color);
  border-top      : thin solid rgba(0, 0, 0, 0.4);
  border-right    : thin solid rgba(0, 0, 0, 0.4);
  box-shadow      : 4px 6px 4px -2px rgba(0, 0, 0, 0.4);
  text-decoration : none;
  font-family     : var(--sub-font);
  flex-direction  : row;
}

.Headlines img {
  min-width: 20%;
  min-height   : 70px;
  max-height   : 100px;
  margin-right : 1.5em;
}

.Headlines:hover {
  border : 2px solid var(--hover-color);
}

.TextAndCaption {
  display     : block;
  width       : 100%;
  max-width   : 100%;
  overflow    : hidden;
  text-align  : center;
  white-space : nowrap;
}

.TextAndCaption h3 {
  display       : block;
  width         : 100%;
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;
}

@media
  only screen
  and (max-width : 768px) {

  .SearchBar {
      width      : 60vw;
      height     : 40px;
      margin-top : 1.5em;
      padding    : 1em;
    }

    nav > p {
      visibility: visible;
      font-size: 0.7em;
      color: rgb(101, 101, 101);
    }

  .StockBoxContainer {
    display         : flex;
    align-content   : center;
    flex-direction  : column;
    justify-content : center;
  }

  .StockBox {
    width         : 90vw;
    min-height    : 50vh;
    max-height    : none;
    margin-bottom : 2em;
    align-self    : center;
    font-size     : 8px;
  }

  .Headlines {
    font-size: 1.3em;
  }

}
