:root {
  --main-green-color : rgba(102, 187, 106, 1);
  --hover-color      : rgb(62, 158, 212);
  --title-font       : 'Tinos', serif;
  --sub-font         : 'Open Sans', sans-serif;
}

body {
  display               : -webkit-box;
  display               : -ms-flexbox;
  display               : flex;
  -webkit-box-direction : normal;
  -webkit-box-orient    : vertical;
  position              : relative;
  min-height            : 100vh;
  margin                : 0;
  -ms-flex-direction    : column;
  flex-direction        : column;
}

a:active,
a:hover,
a:link,
a:visited {
  text-decoration : none;
}

.Logo {
  width            : 100%;
  margin           : 0 0 0 0;
  background-color : rgba(241, 241, 241, 0.6);
  text-align       : center;
}

.Logo span {
  color : var(--main-green-color);
}

input {
  -webkit-appearance    : none;
  -webkit-border-radius : 0;
}

footer {
  position         : fixed;
  bottom           : 0;
  left             : 0;
  width            : 100%;
  height           : 8vh;
  background-color : rgb(228, 228, 228);
  text-align       : center;
  line-height      : .3em;
}

#root {
  height : 85vh;
}

nav > p {
  visibility : hidden;
  text-align : center;
}

.Search {
  display          : -webkit-box;
  display          : -ms-flexbox;
  display          : flex;
  -webkit-box-pack : center;
  width            : 100%;
  -ms-flex-pack    : center;
  -ms-flex-wrap    : wrap;
  flex-wrap        : wrap;
  justify-content  : center;
}

.Search h2 {
  margin-top    : 0;
  margin-bottom : 0px;
  padding-right : 10px;
}

.Search button {
  height           : 40px;
  color            : white;
  border           : none;
  background-color : var(--main-green-color);
  text-transform   : capitalize;
}

.SearchBar {
  width      : 30vw;
  height     : 40px;
  margin-top : 1.5em;
  padding    : 1em;
}

.StockBoxContainer {
  display               : grid;
  -webkit-box-pack      : center;
  -ms-flex-pack         : center;
  justify-content       : center;
  grid-auto-rows        : 85vh;
  grid-column-gap       : 1.5em;
  grid-template-columns : auto auto;
}

.StockBox {
  display            : column;
  position           : relative;
  width              : 40vw;
  min-height         : 82vh;
  margin             : 10px 10px 25px 10px;
  padding-right      : .4em;
  -webkit-box-shadow : 4px 4px 6px 2px rgba(0, 0, 0, 0.4);
  box-shadow         : 4px 4px 6px 2px rgba(0, 0, 0, 0.4);
  text-align         : center;
  font-family        : var(--title-font);
  font-size          : 14px;
}

.StockBox h2 {
  width : 100%;
}

.StockBox:hover {
  border : 2px solid var(--hover-color);
}

.Ticker {
  font-size   : 2em;
  font-weight : bolder;
}

.Ticker span {
  color : var(--main-green-color);
}

.close {
  position          : absolute;
  top               : 1em;
  right             : 1em;
  width             : 1em;
  height            : 1em;
  border            : none;
  background-image  : url(../imgs/close.png);
  background-color  : none;
  background-repeat : no-repeat;
  background-size   : cover;
}

.close:hover {
  cursor : pointer;
}

.Chart {
  height        : 25vh;
  margin-bottom : .5em;
}

.HeadlineBox {
  padding : 0.5em;
}

.Headlines {
  display               : -webkit-box;
  display               : flex;
  display               : -ms-flexbox;
  -webkit-box-direction : normal;
  -webkit-box-orient    : horizontal;
  height                : 100%;
  margin-bottom         : 1.5em;
  padding-right         : 1.5em;
  color                 : var(--hover-color);
  border-top            : thin solid rgba(0, 0, 0, 0.4);
  border-right          : thin solid rgba(0, 0, 0, 0.4);
  -webkit-box-shadow    : 4px 6px 4px -2px rgba(0, 0, 0, 0.4);
  box-shadow            : 4px 6px 4px -2px rgba(0, 0, 0, 0.4);
  text-decoration       : none;
  font-family           : var(--sub-font);
  -ms-flex-direction    : row;
  flex-direction        : row;
}

.Headlines img {
  min-width    : 20%;
  min-height   : 70px;
  max-height   : 100px;
  margin-right : 1.5em;
}

.Headlines:hover {
  border : 2px solid var(--hover-color);
}

.TextAndCaption {
  display     : block;
  width       : 100%;
  max-width   : 100%;
  overflow    : hidden;
  text-align  : center;
  white-space : nowrap;
}

.TextAndCaption h3 {
  display       : block;
  width         : 100%;
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;
}

@media
  only screen
  and (max-width : 768px) {
  .SearchBar {
    width      : 60vw;
    height     : 40px;
    margin-top : 1.5em;
    padding    : 1em;
  }

  nav > p {
    visibility : visible;
    color      : rgb(101, 101, 101);
    font-size  : 0.7em;
  }

  .StockBoxContainer {
    display               : -webkit-box;
    display               : flex;
    display               : -ms-flexbox;
    -webkit-box-direction : normal;
    -webkit-box-orient    : vertical;
    -webkit-box-pack      : center;
    align-content         : center;
    -ms-flex-direction    : column;
    flex-direction        : column;
    -ms-flex-line-pack    : center;
    -ms-flex-pack         : center;
    justify-content       : center;
  }

  .StockBox {
    width         : 90vw;
    min-height    : 50vh;
    max-height    : none;
    margin-bottom : 2em;
  }

  .Headlines {
    font-size : .7em;
  }
}
